.wrap {
  margin-top: 10%;
}

.titleSection {
  border-bottom: solid 2px #30D27C;
  margin-left: 0;
}

#title {
  color: #1D1D1C;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 60px;
}

#subTitle {
  color: #1D1D1C;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 5%;
}

#GitHub {
  color: #30D27C;
}

.topDescText {
  border-bottom: solid 2px #30D27C;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

div.container.content {
  padding-left: 0px;
}

#desc {
  color: #1D1D1C;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 3%;
}

#text {
  padding-top: 2%;
  color: #1D1D1C;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
}


#step {
  padding-top: 2%;
  padding-bottom: 3%;
  color: #1D1D1C;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.step-nt {
  margin-top: 10%;
}


#step-description {
  padding-bottom: 3%;
  color: #1D1D1C;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 18px;
}


#role {
  color: #1D1D1C;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: 10%;
}

#roleHighlight {
  color: #1D1D1C;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: 15%;
}

#problem {
  color: #1D1D1C;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
}

.btn-primary {
  border-radius: 5px;
  border-color: #30D27C;
  background-color: #30D27C;
  opacity: 50%;
  margin-top: 2%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-success:active:focus, .btn-primary:active:focus .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #30D27C;
    opacity: 50%;
    border-color: #30D27C; /*set the color you want here*/
}

.highlight {
  margin-top: 4%;
  background-color: #FBFBFB;
  padding-top: 10%;
  padding-bottom: 10%;
  margin-bottom: 8%;
}

.highlightContent {
  padding-left: 0px;
}

#underHighlight {
  margin-top: 5%;
}

.title-text {
  margin-top: 8%;
}

.double {
  margin-top: 8%;
}

.para {
  padding-bottom: 12%;
}

div.col-lg-6 {
  padding: 0px;
}

.top-photo {
  margin-top: 8%;
}

.youtubeVideo {
  margin-top: 5%;
}

.no-step {
  padding-top: 2%;
}

#above-photo {
  margin-bottom: 3%;
}


.xpo {
  margin-top: 3%;
}

@media (min-width: 375px) and (max-width: 767px) {

.wrap{
  margin-left: 10%;
  margin-right: 10%;
}

}
