.col-md {
  padding:  25px;
}

.logos {
  padding: 0px;
}

.dribbbleText {
  margin-top: 8%;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  display: inline-block;
}



.dribbbleTextBox {
  text-align: center;
}

#commission {
  margin-top: 2%;
  margin-bottom: 15%;
  opacity: 50%;
}

#onlyDribbble {
  color: #30D27C;
}

#roleTop {
  color: #1D1D1C;
  font-family: 'DM Sans', sans-serif;
  font-weight: 300;
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 5%;
}

#stepTop {
  padding-top: 4%;
  padding-bottom: 3%;
  color: #1D1D1C;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
}

#linksBaby {
  color: #30D27C;
}

.oneofThree {
  color: #30D27C;
  margin-top: 10%;
  margin-bottom: 20%;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 30px;

}

.banner {
  margin-top: 5%;
  margin-bottom: 5%;
}
