.instagramText {
  margin-top: 8%;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  display: inline-block;

}

.instagramTextBox {
  text-align: center;
}

#onlyInstagram {
  color: #30D27C;
}

#box {
  text-align: center;
}

.photoText {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
  display: inline-block;
}

.column {
  margin-left: 0px;
  margin-right: 0px;
}

div.container.photos {
  padding-left: 0px;
  padding-right: 0px;
}
