.instagramText {
  margin-top: 8%;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  display: inline-block;

}


.instagramTextBox {
  text-align: center;
}

#onlyInstagram {
  color: #30D27C;
}
